.App {
  /* text-align: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#image{
  object-fit: cover;
  border: 1px solid #282c34

}

.single-product {
  /* background-color: #282c34; */
  width: 200px;
  height: 16rem;
  margin: 2rem;
  position: relative;
  margin-bottom: 60px;

}

#noItems-text {
  padding: 5rem;
}

#old-amount {
  text-decoration: line-through;
  color: grey;
}

.product-details{
  /* display: flex; */
  justify-content: space-between;
  white-space: nowrap; /* Prevent text from wrapping to the next line */
  overflow: hidden; /* Hide any overflowing text */
  text-overflow: ellipsis;
  /* margin: 2rem; */
}

#description{
  color: grey;
}

#product-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
h5 {
  margin: 0;
}
h4 {
  margin: 0;
}

#product-rating-container {
  position: absolute;
  bottom: 12px;
  left: 15px;
  padding: 0.1rem;
  background-color: rgba(255, 255, 255, 0.8);;
  width: 3rem;
  font-size: smaller;
  text-align: center;
  font-weight: 500;
}

#price-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
}

#Product-off{
  font-size: small;
  color: orange;
}

#star{
  color: rgb(47, 165, 47);
  font-size: larger;
  
}



#header-container {
  padding: 1.2rem;
  box-shadow: black;
  display: flex;
  border: black;
  border-width: 2px;
  justify-content: space-between;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}

#category {
  color: black;
}

#search-input {
  padding: 0.5rem;
  border-radius: 5px;
}